fastapi
uvicorn[standard]
requests
rich
langchain
langgraph
langchain-google-genai
langchain-chroma
langchain-community
tiktoken
pymupdf
python-dotenv
azure-storage-blob
azure-identity
pysqlite3-binary>=0.5.0
